.card {
  .ant-card-cover {
    height: 245px;
  }
  .ant-card-body {
    padding-top: 10px;
  }
  height: 400px;
  width: 220px;
  margin: 0 10px;
  @media (min-width: 1356px) {
    width: 250px;
    height: 400px;
  }
  img {
    opacity: 1;
    transition: opacity 0.3s;
    margin: 0 auto;
    width: 10rem;
    margin-top: 15px;
    background: url("../../asset/loading.svg") no-repeat;
    background-size: cover;
    height: 90%;
  }
}
.tooltip:hover {
  cursor: pointer;
}
.play-button {
  position: relative;
  left: 10px;
  margin-top: 10px;
}
