.root-layout {
  height: 100vh;
  .content-container {
    height: 77vh;
    padding: 30px 30px 0px 30px;
    .content {
      background: #fff;
      padding: 24px;
      min-height: 300px;
      height: 100%;
      width: 100%;
      color: #fff;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: Gradient 20s ease infinite;
      @keyframes Gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    }
  }
}
